name = "docker-proxy"
compatibility_date = "2023-12-01"

[dev]
ip = "0.0.0.0"
port = 8787
local_protocol = "http"

[env.dev.vars]
MODE = "debug"
TARGET_UPSTREAM = "https://registry-1.docker.io"

[env.production]
name = "cloudflare-docker-proxy"
 routes = [
   { pattern = "docker.yking.de5.net", custom_domain = true },
   { pattern = "quay.yking.de5.net", custom_domain = true },
   { pattern = "gcr.yking.de5.net", custom_domain = true },
   { pattern = "k8s-gcr.yking.de5.net", custom_domain = true },
   { pattern = "k8s.yking.de5.net", custom_domain = true },
   { pattern = "ghcr.yking.de5.net", custom_domain = true },
   { pattern = "cloudsmith.yking.de5.net", custom_domain = true },
 ]

[env.production.vars]
MODE = "production"
TARGET_UPSTREAM = ""

[env.staging]
name = "cloudflare-docker-proxy-staging"
 route = { pattern = "docker-staging.yking.de5.net", custom_domain = true }

[env.staging.vars]
MODE = "staging"
TARGET_UPSTREAM = ""
